@color-bg: whitesmoke;
@color-font: #3e4491;
@color-font-section: #7fa4a4;
@color-main: #122c91;

@font-family-H1: 'Lora', 'Roboto';
@font-family-condensed: 'Roboto Condensed', 'Arial';
@font-family: 'Roboto', 'Arial';
@text-shadow-width: 1px;

body {
    background-color: @color-bg;
    color: @color-font;
    font-size: 1.2rem;
    font-weight: 300;
}

span.link {
    text-decoration: underline;
    font-weight: 400;
    cursor: pointer;
}
p {
    font-family: @font-family;
    line-height: 1.7;
}

hr {
    width: 60%;
    margin: 2rem auto;
    &.ghost {
        border: 1px solid rgba(0, 0, 0, 0);
    }
}

button {
    font-family: @font-family !important;
    font-weight: 300 !important;
}
h1 {
    font-family: @font-family-H1;
    letter-spacing: 0.015em;
    font-weight: 600;
    font-size: 3rem;
    &.main {
        font-family: @font-family;
    }
}
h2, h3, h4, h5 {
    font-family: @font-family-H1;
    //text-transform: uppercase;
    letter-spacing: 0.05em;    
}
h6 {
    font-family: @font-family;
    letter-spacing: 0.03em;    
    text-transform: uppercase;
    font-size: 0.8rem;
}

section {
    margin: 10vh 5rem;
    &.footer {
        margin-bottom: 0;
        padding: 10vh 0;
        h3 {
            font-family: @font-family;
            letter-spacing: 0.03em;    
            text-transform: uppercase;
            font-size: 1rem;
        }        
    }
}

.chart-title{
    font-family: @font-family;
    font-weight: 400;
    font-size: 1.4rem;
}
.chart-caption {
    color: #999;
    font-size: 65%;
    font-weight: normal;
    font-family: arial;
}
.text-shadow {
    text-shadow: @text-shadow-width @text-shadow-width 0 @color-bg, @text-shadow-width -@text-shadow-width 0 @color-bg, -@text-shadow-width @text-shadow-width 0 @color-bg, -@text-shadow-width -@text-shadow-width 0 @color-bg;
}

.background-colored {
    color: #7fa4a4;
    background-color: @color-main;
    h1 {
        color: #bbd4ce;
    }
}

.highlight {
    //cursor: pointer;
    color: @color-main;
    background-color: #bbd4ce;
    //font-size: 14px;
    font-weight: 400;
    padding: 3px 6px;
    margin: 0 1px;
    white-space: nowrap;
    border-radius: 3px;
    pointer-events: stroke;

    &.year2020 {
        background-color: #a9bbc6;
        color: @color-main;
    }
    &.year2021 {
        background-color: #17a2b8;
        font-weight: 300;
        color: whitesmoke;
    }
}


////////////////////////////////////////////////////////////////
// svg

svg {
    overflow: visible;
}

.tick text {
    font-family: @font-family-condensed;
    color: #aaa;
}

tspan,
text {
    font-family: @font-family;
    font-size: 12px;
}
g.axis-labels {
    fill: @color-font-section;
}

.axis-label-main {
    fill: @color-font-section;
    text-transform: uppercase;
}

.last-week-label {
    font-size: 12px;
}

.placeholder-annotations {
    font-style: italic;
    fill: @color-font-section;
    font-size: 11px;
    .arrow {
        font-size: 22px;
    }
}

////////////////////////////////////////////////////////////////
// scrollama

.scrollama {
    background-color: @color-main;
    .graphics-container {
        color: #7fa4a4;
        padding: 15vh 2vw 0;
        display: flex;
        justify-content: space-between;
        h3 {
            color: #bbd4ce;
        }
        
    }
    .scroller {
        flex-basis: 35%;
    }

    .step {
        margin: 0 auto 3rem auto;
        padding: 180px 0;
        //border: 1px solid whitesmoke;
        & p {
          text-align: left;
          padding: 1rem;
          margin: 0;
          strong {
            color: #bbd4ce;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }

        &.step-large{
            height: 60vh;
        }
    }

    .graphic {
        flex-basis: 65%;
        position: sticky;
        width: 100%;
        height: 90vh;
        top: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}