@color-bg: #f8f8ee;

body {
    background-color: @color-bg;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Condensed', 'Arial';
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-weight: 700;
}